<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giới thiệu</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <header class="header">
            <!-- Load an icon library -->
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <div class="navbar">
                <a href="/" class="logo">
                    <img src="/img/logo.png" alt="Logo">
                </a>
                <div class="links">
                    <a class href="/"><i class="fa fa-fw fa-home"></i>Trang
                        Chủ</a>
                    <a class href="/create"><i class="fa fa-fw fa-edit"></i>Tạo
                        Sự Kiện</a>
                    <!-- <div class="dropdown">
                    <p class="dropbtn">Tạo Sự Kiện
                      <i class="fa fa-fw fa-edit"></i>
                    </p>
                    <div class="dropdown-content">
                      <a href="/create" class="">Tạo Sự Kiện</a>
                      <a href="/listevent">Danh Sách Sự Kiện</a>
                      <a href="#">Quản Lý Người Tham Gia</a>
                    </div>
                  </div> -->
                    <a class href="/participants"><i
                            class="fa fa-fw fa-heart"></i>Đã Tham Gia</a>
                    <!-- <a href="/login"><i class="fa fa-fw fa-user"></i>Đăng Nhập</a>
                <a href="/register" class=""><i class="fa fa-fw fa-user-plus"></i>Đăng Ký</a> -->
                    <!-- <a href="#"><i class="fa fa-fw fa-envelope"></i>Liên Hệ</a> -->
                    <a href="/about" class="active"><i
                            class="fa fa-fw fa-vcard"></i>Về Chúng Tôi</a>
                    <% if (session.user) { %>
                    <a href="/logout"><i class="fa fa-fw fa-sign-out"></i>Đăng
                        Xuất</a>
                    <% } else { %>
                    <div class="dropdown">
                        <p class="dropbtn">Đăng Nhập
                            <i class="fa fa-caret-down"></i>
                        </p>
                        <div class="dropdown-content">
                            <a href="/login">Đăng Nhập</a>
                            <a href="/register">Đăng Ký</a>
                        </div>
                    </div>
                    <% } %>
                </div>

                <div class="account-icon-container">
                    <% if (session.user) { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username"><%= session.user.UserName %></p>
                    </i>
                    <% } else { %>
                    <i class="fa fa-fw fa-user-circle account-icon">
                        <p class="username">Tài Khoản</p>
                    </i>
                    <% } %>
                </div>

            </div>
        </header>

        <div class="header-container">
            <h1>Giới Thiệu Về Chúng Tôi</h1>
        </div>
        <div class="container">
            <div class="about-section">
                <div class="about-text">
                    <h2><i class="fas fa-info-circle icon"></i> Về Chúng
                        Tôi</h2>
                    <p style="text-align: justify;">Trang web quản lý sự kiện
                        của chúng tôi mang đến giải pháp toàn diện cho sự kiện
                        tổ chức và tham gia. Người dùng có thể dễ dàng xem danh
                        sách các sự kiện nổi bật, đăng ký nhanh chóng và nhận
                        email xác nhận ngay sau khi đăng ký. Với giao diện thân
                        thiện và tiện ích, bạn sẽ có trải nghiệm quản lý sự kiện
                        chuyên nghiệp và dễ dàng.</p>
                </div>
            </div>
            <div class="about-section">
                <div class="about-text">
                    <h2><i class="fas fa-bullseye icon"></i> Sứ Mệnh</h2>
                    <p style="text-align: justify;">Sứ mệnh của chúng tôi là kết
                        nối cộng đồng thông tin qua các hoạt động tổ chức và
                        tham gia các sự kiện một cách thuận lợi và hiệu quả.
                        Chúng tôi cam kết tạo ra một nền tảng giúp người dùng dễ
                        dàng khám phá, tham gia và tổ chức các sự kiện, từ đó
                        cung cấp sự giao lưu, chia sẻ và phát triển cá nhân cũng
                        như cộng đồng.</p>
                </div>
            </div>
            <div class="about-section">
                <div class="about-text">
                    <h2><i class="fas fa-envelope icon"></i> Liên Hệ</h2>
                    <p style="text-align: justify;">Nếu bạn có bất kỳ câu hỏi
                        nào, xin vui lòng liên hệ với chúng tôi qua email: <a
                            href="mailto:info@chungtoi.com">hanhnguyen6118@gmail.com</a>.</p>
                </div>
            </div>
        </div>
        <footer>
            <h6>Liên hệ chúng tôi</h6>
            <i class="fa fa-fw fa-whatsapp"></i>
            <p>1900 1090</p><br>
            <i class="fa fa-fw fa-envelope"></i>
            <p><a
                    href="mailto:hanhnguyen6118@gmail.com">hanhnguyen6118@gmail.com</a></p>
        </footer>
    </body>
</html>